<div class="container">
    <h3 mat-dialog-title>Brisanje fakture</h3>
    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <p>Datum fakture: {{faktura.datum_izdavanja | date: "dd.MM.yyyy." }}</p>
        </div>
        <div class="form">
            <p>Iznos fakture: {{faktura.iznos }}</p>
        </div>
        <div class="form">
            <h3>Fakturisane stavke:</h3>
        </div>
        <div class="form">           
            <section  class="chbox-section" >
                <ul>
                    <li *ngFor="let stavka of fakturisaneStavke">
                        <p>{{stavka.tip_proizvoda.naziv_tipa}} - {{stavka.kolicina}} {{stavka.jedinica_mere}} - {{stavka.obracunata_cena}} din</p>
                    </li>
                </ul>         
            </section>
        </div>
        <div mat-dialog-actions>
            <button mat-button type="submit" [mat-dialog-close]="1" (click)="delete()"
                [disabled]="!formControl.valid">
                Obriši
            </button>
            <button mat-button (click)="cancel()">
                Poništi
            </button>
        </div>

    </form>

</div>
