<mat-toolbar class="toolbarNew" color="primary">
    <span class="title-center">Stavke narudžbine sa oznakom: {{selektovanaNarudzbina.id}}</span>
</mat-toolbar>
<div class="container mat-elevation-z8">
    <mat-form-field>
        <input matInput placeholder="Pretraga stavki odabrane narudžbine..." (keyup)="applyFilter($event)">
    </mat-form-field>
    <mat-table #table matSort [dataSource]="dataSource" class="mat-cell" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="kolicina">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Količina</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.kolicina }} {{ row.jedinica_mere }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="obracunata_cena">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Obračunata cena (RSD)</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.obracunata_cena }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tip_proizvoda">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tip proizvoda</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.tip_proizvoda.naziv_tipa }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="faktura">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Faktura</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.faktura ? "Fakturisana stavka" : "Nije fakturisana stavka" }}
            </mat-cell>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="openDialog(1)">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i = index">
                <button mat-icon-button color="primary" (click)="openDialog(2, row.id, row.kolicina,
           row.jedinica_mere, row.obracunata_cena, row.narudzbina, row.tip_proizvoda, row.faktura)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <button mat-icon-button color="primary" (click)="openDialog(3,row.id, row.kolicina,
                row.jedinica_mere, row.obracunata_cena, row.narudzbina, row.tip_proizvoda, row.faktura)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns">
        </mat-row>
    </mat-table>
</div>