<mat-toolbar color="primary">
    <span class="title-center">Tipovi proizvoda</span>
</mat-toolbar>

  <div class="container mat-elavation-z8">
    <mat-form-field>
      <input matInput placeholder="Pretraga tipova proizvoda..." (keyup)="applyFilter($event)">
    </mat-form-field>
    <mat-table #table [dataSource]="dataSource" class="mat-cell" matSort>
      <!--ID-->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>
      <!--Pib-->
      <ng-container matColumnDef="naziv_tipa">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Naziv</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.naziv_tipa }}</mat-cell>
      </ng-container>
      <!-- Naziv -->
      <ng-container matColumnDef="jedinicna_cena">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Jedinična cena (RSD)</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.jedinicna_cena }}</mat-cell>
      </ng-container>
      <!-- Adresa -->
      <ng-container matColumnDef="aktuelan">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Aktuelan</mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.aktuelan== true ? 'green' : 'red'">{{ row.aktuelan  ? "Da" : "Ne"  }}</mat-cell>
      </ng-container>
      
      <!-- Action Buttons -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button (click)="openDialog(1)" mat-icon-button color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <button (click)="openDialog(2, row.id, row.naziv_tipa, row.jedinicna_cena, row.aktuelan)" mat-icon-button color="primary">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button (click)="openDialog(3,row.id, row.naziv_tipa, row.jedinicna_cena, row.aktuelan)" mat-icon-button color="primary">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
          </mat-cell>

      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        style="cursor: pointer;"
        *matRowDef="let row; columns: displayedColumns">
      </mat-row>
    </mat-table>
    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5,10,25,100]">
    </mat-paginator>
  </div>