<mat-toolbar class="toolbarNew" color="primary">
    <span class="title-center">Vakcine svinje sa tetovir brojem: {{selektovanaSvinjaVakcine.tetovir_broj_svinje}}</span>
    <button (click)="openDialog()" mat-icon-button color="white">
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>
<div class="container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" class="mat-cell">
        <ng-container matColumnDef="sifra_vakcine">
            <mat-header-cell *matHeaderCellDef>Šifra date vakcine</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.sifra_vakcine }}</mat-cell>
            <mat-footer-cell *matFooterCellDef> Ukupan broj vakcina: </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="naziv_tipa_vakcine">
            <mat-header-cell *matHeaderCellDef>Tip date vakcine</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.naziv_tipa_vakcine }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef> {{brojVakcina ? brojVakcina : 0}} </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="datum_davanja">
            <mat-header-cell *matHeaderCellDef>Datuma davanja</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.datum_davanja | date: "dd. MM. yyyy." }} </mat-cell>
            <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="kolicina_doze_vakcine">
            <mat-header-cell *matHeaderCellDef>Količina doze (mg)</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.kolicina_doze_vakcine }}</mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="veterinar">
            <mat-header-cell *matHeaderCellDef>Veterinar koji je dao vakcinu</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.veterinar.ime }} {{ row.veterinar.prezime }} <br> Broj licence: {{
                row.veterinar.broj_licence }} </mat-cell>
            <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns"> </mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
</div>