<mat-toolbar color="primary">
  <span class="title-center">Pregled rasa svinja i njihova pripadnost</span>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="naziv_rase" >
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Naziv rase </th>
    <td mat-cell *matCellDef="let element"> {{element['naziv_rase']}} </td>
  </ng-container>
  <ng-container matColumnDef="opis">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Opis </th>
    <td mat-cell *matCellDef="let element"> {{element['opis']}} </td>
  </ng-container>
  <ng-container matColumnDef="alternativno_ime">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Alternativno ime </th>
    <td mat-cell *matCellDef="let element"> {{element['alternativno_ime']}} </td>
  </ng-container>
  <ng-container matColumnDef="zemlja_porekla">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Zemlja porekla </th>
    <td mat-cell *matCellDef="let element"> {{element['zemlja_porekla']}} </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row"
        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation(); loadSvinjePoRasi(element.naziv_rase)">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <table class="mat-elevation-z8 demo-table">
            <tr>
              <th>Tetovir broj</th>
              <th>Oznaka legla</th>
              <th>Kategorija svinje</th>
              <th>Aktuelni veterinarski broj svinje</th>
            </tr>
            <tr *ngFor="let svinja of svinjePoRasi">
              <td>{{svinja.tetovir_broj_svinje}}</td>
              <td> {{svinja.oznaka_legla}}</td>
              <td>{{svinja.kategorija}}</td>
              <td>{{svinja.aktuelni_veterinarski_broj}}</td>
            </tr>
          </table>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>