<mat-toolbar class="toolbarNew" color="primary">
    <span class="title-center">Fakture za narudžbinu: {{selektovanaNarudzbina.id}}</span>
</mat-toolbar>
<div class="container mat-elevation-z8">
        <mat-table #table matSort [dataSource]="dataSource" class="mat-cell" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef >Id</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="iznos">
            <mat-header-cell *matHeaderCellDef >Iznos</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.iznos }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="datum_izdavanja">
            <mat-header-cell *matHeaderCellDef >Datum izdavanja</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.datum_izdavanja | date: "dd.MM.yyyy." }}</mat-cell>
        </ng-container>


        <!-- actions -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="openDialog(1)">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i = index">
                <button mat-button color="primary" (click)="prikaziFakturisaneStavke(row)">
                    Prikaži fakturisane stavke
                </button>
                <button mat-button color="primary" (click)="prikaziUplatu(row)">
                    Prikaži uplatu
                </button>
                <button mat-button color="primary" (click)="dodajUplatu(row)">
                    Dodaj uplatu
                </button>           

                <button mat-icon-button color="primary" (click)="openDialog(2, row.id, row.iznos,
           row.datum_izdavanja, row.svrha, row.narudzbina)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>

               

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns">
        </mat-row>
    </mat-table>
</div>
