<div  *ngIf="postojeStavke"  class="container">
    <h3 mat-dialog-title >Dodavanje fakture</h3>
    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field>
                <input matInput [matDatepicker]="datum_izdavanja" placeholder="Datum izdavanja" name="datum_izdavanja"
                    id="datum_izdavanja" required>
                <mat-datepicker-toggle matSuffix [for]="datum_izdavanja"></mat-datepicker-toggle>
                <mat-datepicker #datum_izdavanja></mat-datepicker>
            </mat-form-field>
        </div>
        <div  class="form">
            <h3>Odabrati stavke za fakturisanje:</h3>
        </div>
        <div  class="form">           
            <section  class="chbox-section" >
                <ul>
                    <li *ngFor="let stavka of stavke">
                        <mat-checkbox class="chbox-margin" (click)="dodajStavkeUFakturu(stavka)" >{{stavka.tip_proizvoda.naziv_tipa}} - {{stavka.kolicina}} {{stavka.jedinica_mere}} - {{stavka.obracunata_cena}} din </mat-checkbox>
                    </li>
                </ul>         
            </section>
        </div>
        <div mat-dialog-actions>
            <button mat-button type="submit" [mat-dialog-close]="1" (click)="add()"
                [disabled]="!formControl.valid">
                Sačuvaj
            </button>
            <button mat-button (click)="cancel()">
                Poništi
            </button>
        </div>

    </form>

</div>

<div  *ngIf="!postojeStavke"  class="container">
    <div  class="form">
        <h3>Faktura se ne može kreirati jer ne postoje stavke za fakturisanje!</h3>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">
            U redu
        </button>
    </div>
</div>